<form
  #noteupdateform
  *ngIf="note"
  class="scrollable-modal"
  name="editForm"
  role="form"
  novalidate
  (ngSubmit)="closeAndSaveNote()"
  [formGroup]="editForm"
  (clickOutside)="closeAndSaveNote()"
  [exclude]="'.click-outside-exclude'"
  [excludeBeforeClick]="true"
  [delayClickOutsideInit]="true"
>
  <div class="modal-header">
    <div class="form-group" [hidden]="true">
      <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
    </div>
    <div class="form-group" [hidden]="true">
      <input class="form-control" name="owner" id="field_owner" data-cy="owner" formControlName="owner" [readonly]="true" />
    </div>
    <div class="form-group" [hidden]="true">
      <input class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" [readonly]="true" />
    </div>

    <div class="form-group mb-0">
      <input
        type="text"
        class="form-control"
        placeholder="{{ 'noticeMeApp.note.title' | translate }}"
        name="title"
        id="field_title"
        data-cy="title"
        formControlName="title"
        autocomplete="off"
        (input)="savePatch()"
      />
    </div>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <textarea
        class="form-control"
        placeholder="{{ 'noticeMeApp.note.content' | translate }}"
        name="content"
        id="field_content"
        data-cy="content"
        formControlName="content"
        (input)="savePatch()"
        ngbAutofocus
      ></textarea>
    </div>

    <div class="form-group">
      <label jhiTranslate="noticeMeApp.note.tag" for="field_tags">Tag</label>
      <select class="form-control" id="field_tags" data-cy="tag" multiple name="tags" formControlName="tags">
        <option
          [ngValue]="getSelectedTag(tagOption, editForm.get('tags')!.value)"
          *ngFor="let tagOption of tagsSharedCollection; trackBy: trackTagById"
        >
          {{ tagOption.tagName }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label class="form-control-label" jhiTranslate="noticeMeApp.note.date" for="field_date">Date</label>
      <div class="d-flex">
        <input
          id="field_lastUpdateDate"
          data-cy="lastUpdateDate"
          type="datetime-local"
          class="form-control"
          name="lastUpdateDate"
          formControlName="lastUpdateDate"
          placeholder="YYYY-MM-DD HH:mm"
        />
      </div>
      <div
        *ngIf="
          editForm.get('lastUpdateDate')!.invalid && (editForm.get('lastUpdateDate')!.dirty || editForm.get('lastUpdateDate')!.touched)
        "
      >
        <small
          class="form-text text-danger"
          *ngIf="editForm.get('lastUpdateDate')?.errors?.required"
          jhiTranslate="entity.validation.required"
        >
          This field is required.
        </small>
        <small
          class="form-text text-danger"
          [hidden]="!editForm.get('lastUpdateDate')?.errors?.ZonedDateTimelocal"
          jhiTranslate="entity.validation.ZonedDateTimelocal"
        >
          This field should be a date and time.
        </small>
      </div>
    </div>

    <!-- <dl class="row-md jh-entity-details">
      <dt>
        <span jhiTranslate="noticeMeApp.note.date">Date</span>
      </dt>
      <dd>
        <span>{{ note.lastUpdateDate | formatMediumDatetime }}</span>
      </dd>
      <dd>
        <span *ngFor="let tag of note.tags; let last = last">
          <a [routerLink]="['/tag', tag?.id, 'view']">{{ tag.tagName }}</a>
          {{ last ? '' : ', ' }}
        </span>
      </dd>
      <dd>
        <span *ngFor="let collaborator of note.collaborators; let last = last"> {{ collaborator.id }}{{ last ? '' : ', ' }} </span>
      </dd>
    </dl>-->
  </div>

  <div class="modal-footer">
    <div class="btn-toolbar w-100 justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group" role="group" aria-label="action group">
        <button
          type="button"
          class="btn btn-light"
          [ngClass]="{ 'invalid-red': editForm.get('alarmDate')?.errors }"
          ngbTooltip="{{ 'noticeMeApp.note.toolbar.alarm' | translate }}"
          container="body"
          [ngbPopover]="popAlarmDate"
          placement="top"
          [autoClose]="'outside'"
          #popoverAlarm="ngbPopover"
          [popoverTitle]="popAlarmDateTitle"
          popoverClass="click-outside-exclude"
        >
          <fa-icon [icon]="['far', 'bell']"></fa-icon>
        </button>
        <button
          type="button"
          class="btn btn-light"
          [ngbPopover]="popCollaborator"
          [autoClose]="'outside'"
          #popoverAlarm="ngbPopover"
          [popoverTitle]="popCollaboratorTitle"
          popoverClass="click-outside-exclude"
          ngbTooltip="{{ 'noticeMeApp.note.toolbar.collaborator' | translate }}"
          placement="top"
          container="body"
        >
          <fa-icon icon="user-plus"></fa-icon>
        </button>
        <button
          type="button"
          class="btn btn-light"
          ngbTooltip="{{ 'noticeMeApp.note.toolbar.attachment' | translate }}"
          placement="top"
          container="body"
        >
          <fa-icon icon="link"></fa-icon>
        </button>
        <button
          type="button"
          class="btn btn-light"
          ngbTooltip="{{ 'noticeMeApp.note.toolbar.archive' | translate }}"
          placement="top"
          container="body"
          (click)="archiveNote()"
        >
          <fa-icon [icon]="['far', 'file-archive']"></fa-icon>
        </button>
        <button
          type="button"
          class="btn btn-light"
          ngbTooltip="{{ 'noticeMeApp.note.toolbar.delete' | translate }}"
          placement="top"
          container="body"
          (click)="deleteNote()"
        >
          <fa-icon [icon]="['far', 'trash-alt']"></fa-icon>
        </button>
      </div>
      <div class="btn-group" role="group" aria-label="save group">
        <button type="submit" id="save-entity" data-cy="entitySaveButton" [disabled]="!canClose()" class="btn btn-primary">
          <span jhiTranslate="entity.action.close">Close</span>
        </button>
      </div>
    </div>
  </div>
  <ng-template #popAlarmDate>
    <div>
      <input
        id="field_alarmDate"
        data-cy="alarmDate"
        type="datetime-local"
        class="form-control"
        name="alarmDate"
        formControlName="alarmDate"
        placeholder="YYYY-MM-DD HH:mm"
        min="{{ minDate }}"
      />
      <div *ngIf="editForm.get('alarmDate')!.invalid && (editForm.get('alarmDate')!.dirty || editForm.get('alarmDate')!.touched)">
        <small
          class="form-text text-danger"
          [hidden]="!editForm.get('alarmDate')?.errors?.invalidDate"
          jhiTranslate="entity.validation.MinimumDate"
        >
          Alarm date is in the past
        </small>
        <small
          class="form-text text-danger"
          [hidden]="!editForm.get('alarmDate')?.errors?.ZonedDateTimelocal"
          jhiTranslate="entity.validation.ZonedDateTimelocal"
        >
          This field should be a date and time.
        </small>
      </div>
    </div>
  </ng-template>
  <ng-template #popAlarmDateTitle>
    <div class="d-flex w-100 align-items-center justify-content-between">
      <label class="h6 mb-0" jhiTranslate="noticeMeApp.note.toolbar.alarmdate" for="field_alarmDate">Alarm Date</label>
      <button type="button" class="btn btn-light btn-sm" (click)="resetDate()">
        <fa-icon icon="times"></fa-icon>
      </button>
    </div>
  </ng-template>

  <ng-template #popCollaborator>
    <div>
      <select
        class="form-control"
        id="field_collaborators"
        data-cy="collaborator"
        multiple
        name="collaborators"
        formControlName="collaborators"
      >
        <option
          [ngValue]="getSelectedUser(userOption, editForm.get('collaborators')!.value)"
          *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
        >
          {{ userOption.login }}
        </option>
      </select>
    </div>
  </ng-template>
  <ng-template #popCollaboratorTitle>
    <div class="d-flex w-100 text-center">
      <label class="h6 mb-0" jhiTranslate="noticeMeApp.note.collaborator" for="field_collaborators">Collaborator</label>
    </div>
  </ng-template>
</form>
