<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="note">
      <h2 data-cy="noteDetailsHeading"><span jhiTranslate="noticeMeApp.note.detail.title">Note</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ note.id }}</span>
        </dd>
        <dt><span jhiTranslate="noticeMeApp.note.title">Title</span></dt>
        <dd>
          <span>{{ note.title }}</span>
        </dd>
        <dt><span jhiTranslate="noticeMeApp.note.content">Content</span></dt>
        <dd>
          <span>{{ note.content }}</span>
        </dd>
        <dt><span jhiTranslate="noticeMeApp.note.lastUpdateDate">Last Update Date</span></dt>
        <dd>
          <span>{{ note.lastUpdateDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="noticeMeApp.note.alarmDate">Alarm Date</span></dt>
        <dd>
          <span>{{ note.alarmDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="noticeMeApp.note.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'noticeMeApp.NoteStatus.' + note.status }}">{{ note.status }}</span>
        </dd>
        <dt><span jhiTranslate="noticeMeApp.note.owner">Owner</span></dt>
        <dd>
          <span>{{ note.owner?.id }}</span>
        </dd>
        <dt><span jhiTranslate="noticeMeApp.note.tag">Tag</span></dt>
        <dd>
          <span *ngFor="let tag of note.tags; let last = last">
            <a [routerLink]="['/tag', tag?.id, 'view']">{{ tag.tagName }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="noticeMeApp.note.collaborator">Collaborator</span></dt>
        <dd>
          <span *ngFor="let collaborator of note.collaborators; let last = last"> {{ collaborator.id }}{{ last ? '' : ', ' }} </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/note', note.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
