<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="attachment">
            <h2><span jhiTranslate="noticeMeApp.attachment.detail.title">Attachment</span> {{ attachment.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="noticeMeApp.attachment.data">Data</span></dt>
                <dd>
                    <div *ngIf="attachment.data">
                        <a (click)="openFile(attachment.dataContentType, attachment.data)" jhiTranslate="entity.action.open">open</a>
                        {{ attachment.dataContentType }}, {{ byteSize(attachment.data) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="noticeMeApp.attachment.format">Format</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'noticeMeApp.Format.' + attachment.format }}">{{ attachment.format }}</span>
                </dd>
                <dt><span jhiTranslate="noticeMeApp.attachment.note">Note</span></dt>
                <dd>
                    <div *ngIf="attachment.noteId">
                        <a [routerLink]="['/note', attachment.noteId, 'view']">{{ attachment.noteId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/attachment', attachment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
