<div>
  <div id="page-heading" data-cy="NoteHeading">
    <h2>
      <span jhiTranslate="noticeMeApp.note.home.title">Notes</span>
    </h2>
    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="noticeMeApp.note.home.refreshListLabel">Refresh List</span>
      </button>
    </div>
  </div>
  <jhi-note-create *ngIf="canShowCreate()" (oncreate)="addNote($event)"> </jhi-note-create>
  <div class="alert alert-warning" id="no-result" *ngIf="pinnedNotes?.length === 0 && otherNotes?.length === 0">
    <span jhiTranslate="noticeMeApp.note.home.notFound">No notes found</span>
  </div>

  <div
    id="entities"
    infinite-scroll
    (scrolled)="loadPage(page + 1)"
    [infiniteScrollDisabled]="page >= links['last']"
    [infiniteScrollDistance]="0"
  >
    <div *ngIf="pinnedNotes && pinnedNotes.length > 0" class="grid-wrapper">
      <label> <span jhiTranslate="noticeMeApp.note.home.titlepinned">Pinned Notes</span> </label>
      <div
        #gridPinned
        id="gridPinned"
        class="muuri-grid"
        muuriGrid
        [config]="layoutConfig"
        (gridCreated)="onGridCreated($event, gridPinned)"
        (resized)="onResized()"
      >
        <div
          (mousedown)="onMouseDown($event)"
          (click)="onClick($event, note)"
          class="muuri-grid-item"
          muuriGridItem
          *ngFor="let note of pinnedNotes; trackBy: trackId"
        >
          <div class="muuri-grid-item-content" (resized)="onResized()">
            <img class="card-img-top" src="..." alt="Card image cap" />
            <div class="card-body">
              <h5 class="card-title">{{ note.title }}</h5>

              <p class="card-text summary-text" ellipsis [ellipsis-content]="note.content!"></p>
              <jhi-tag-input
                #tagInput
                class="form-group mb-0 w-100"
                [(ngModel)]="note!.tags!"
                [ngModelOptions]="{ standalone: true }"
                [hideForm]="true"
                [noteid]="note!.id"
                [disable]="this.note!.status === allNoteStatus.DELETED"
                (ngModelChange)="modelChangeFn($event, note)"
              >
              </jhi-tag-input>
            </div>
            <div class="card-footer">
              <p class="card-text">
                <small class="text-muted m-0" jhiTranslate="noticeMeApp.note.lastUpdateDate">lastUpdateDate</small>
                <small class="text-muted m-0">{{ getFormattedLastUpdateDate(note) }}</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-wrapper" *ngIf="otherNotes && otherNotes.length > 0">
      <label *ngIf="pinnedNotes && pinnedNotes.length > 0"><span jhiTranslate="noticeMeApp.note.home.titleother">Other Notes</span></label>
      <div
        #gridOther
        id="gridOther"
        class="muuri-grid"
        muuriGrid
        [config]="layoutConfig"
        (gridCreated)="onGridCreated($event, gridOther)"
        (resized)="onResized()"
      >
        <div
          (mousedown)="onMouseDown($event)"
          (click)="onClick($event, note)"
          class="muuri-grid-item"
          muuriGridItem
          *ngFor="let note of otherNotes; trackBy: trackId"
        >
          <div class="muuri-grid-item-content" (resized)="onResized()">
            <img class="card-img-top" alt="Card image cap" />
            <div class="card-body">
              <h5 class="card-title">{{ note.title }}</h5>
              <p class="card-text summary-text" ellipsis [ellipsis-content]="note.content!"></p>
              <jhi-tag-input
                #tagInput
                class="form-group mb-0 w-100"
                [(ngModel)]="note!.tags!"
                [ngModelOptions]="{ standalone: true }"
                [hideForm]="true"
                [noteid]="note!.id"
                [disable]="this.note!.status === allNoteStatus.DELETED"
                (ngModelChange)="modelChangeFn($event, note)"
              >
              </jhi-tag-input>
            </div>
            <div class="card-footer">
              <p class="card-text">
                <small class="text-muted m-0" jhiTranslate="noticeMeApp.note.lastUpdateDate">lastUpdateDate</small>
                <small class="text-muted m-0">{{ getFormattedLastUpdateDate(note) }}</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
