<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="attachment">
      <h2 data-cy="attachmentDetailsHeading"><span jhiTranslate="noticeMeApp.attachment.detail.title">Attachment</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ attachment.id }}</span>
        </dd>
        <dt><span jhiTranslate="noticeMeApp.attachment.data">Data</span></dt>
        <dd>
          <div *ngIf="attachment.data">
            <a (click)="openFile(attachment.data, attachment.dataContentType)" jhiTranslate="entity.action.open">open</a>
            {{ attachment.dataContentType }}, {{ byteSize(attachment.data) }}
          </div>
        </dd>
        <dt><span jhiTranslate="noticeMeApp.attachment.note">Note</span></dt>
        <dd>
          <div *ngIf="attachment.note">
            <a [routerLink]="['/note', attachment.note?.id, 'view']">{{ attachment.note?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/attachment', attachment.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
