<form
  #noteupdateform
  autocomplete="off"
  *ngIf="note"
  class="scrollable-modal"
  name="editForm"
  role="form"
  novalidate
  (ngSubmit)="closeAndSaveNote()"
  [formGroup]="editForm"
  (clickOutside)="closeAndSaveNote()"
  [exclude]="'button, .click-outside-exclude'"
  [excludeBeforeClick]="true"
  [delayClickOutsideInit]="true"
>
  <div class="modal-header d-flex">
    <jhi-carousel-attach [images]="note!.attachments!"></jhi-carousel-attach>
    <div class="form-group" [hidden]="true">
      <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
    </div>
    <div class="form-group" [hidden]="true">
      <input class="form-control" name="owner" id="field_owner" data-cy="owner" formControlName="owner" [readonly]="true" />
    </div>
    <div class="form-group" [hidden]="true">
      <input class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" [readonly]="true" />
    </div>

    <div class="form-group mb-0 w-100">
      <input
        type="text"
        class="form-control"
        placeholder="{{ 'noticeMeApp.note.placeholder.title' | translate }}"
        name="title"
        id="field_title"
        #field_title
        data-cy="title"
        formControlName="title"
        autocomplete="off"
        (input)="savePatch($event)"
        maxlength="{{ maxTitleLength }}"
      />
    </div>
    <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
      <small
        class="form-text text-danger pl-3"
        *ngIf="editForm.get('title')?.errors?.maxlength"
        jhiTranslate="entity.validation.maxlength"
        [translateValues]="{ max: 255 }"
      >
        This field cannot be longer than 255 characters.
      </small>
    </div>

    <div *ngIf="this.note.status !== allNoteStatus.DELETED" class="btn-group" role="group" aria-label="pin group">
      <button
        [hidden]="this.note.status === allNoteStatus.PINNED"
        type="button"
        class="btn btn-light"
        ngbTooltip="{{ 'noticeMeApp.note.toolbar.pin' | translate }}"
        placement="top"
        container="body"
        (click)="pinNote()"
      >
        <fa-icon [icon]="['far', 'check-circle']"></fa-icon>
      </button>
      <button
        [hidden]="this.note.status !== allNoteStatus.PINNED"
        type="button"
        class="btn btn-light"
        ngbTooltip="{{ 'noticeMeApp.note.toolbar.unpin' | translate }}"
        placement="top"
        container="body"
        (click)="unPinNote()"
      >
        <fa-icon icon="check-circle"></fa-icon>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <div class="form-group mb-0">
      <textarea
        jhiInputTextarea
        class="form-control pb-0"
        placeholder="{{ 'noticeMeApp.note.placeholder.content' | translate }}"
        name="content"
        id="field_content"
        #field_content
        data-cy="content"
        formControlName="content"
        (input)="savePatch($event)"
        maxlength="{{ maxContentLength }}"
        ngbAutofocus
      ></textarea>
    </div>

    <div class="form-group mb-0 w-100">
      <div class="form-group" [hidden]="true">
        <input class="form-control" name="tags" id="field_tags" data-cy="tags" formControlName="tags" [readonly]="true" />
      </div>
      <jhi-tag-input
        #tagInput
        class="form-group mb-0 w-100"
        [(ngModel)]="note!.tags!"
        [ngModelOptions]="{ standalone: true }"
        inputClass="w-100"
        (ngModelChange)="modelChangeFn($event)"
        [disable]="this.note!.status === allNoteStatus.DELETED"
        [noteid]="note!.id"
      >
      </jhi-tag-input>
    </div>

    <div class="d-flex">
      <div class="ml-auto mr-1 small-text">
        <label *ngIf="this.note.status === allNoteStatus.DELETED" class="m-0" jhiTranslate="noticeMeApp.note.detail.isInTrash"
          >in trash bin</label
        >
        <label *ngIf="this.note.status === allNoteStatus.DELETED" class="m-0"> - </label>
        <label class="m-0" jhiTranslate="noticeMeApp.note.lastUpdateDate" for="field_lastUpdateDate">lastUpdateDate</label>
        <label class="m-0">{{ getFormattedDate() }}</label>
        <div class="form-group" [hidden]="true">
          <input
            class="form-control"
            name="lastUpdateDate"
            id="field_lastUpdateDate"
            data-cy="lastUpdateDate"
            formControlName="lastUpdateDate"
            [readonly]="true"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div class="btn-toolbar w-100 justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
      <div *ngIf="this.note.status !== allNoteStatus.DELETED" class="btn-group" role="group" aria-label="action group">
        <button
          type="button"
          class="btn btn-light"
          [ngClass]="{ 'invalid-red': editForm.get('alarmDate')?.errors }"
          ngbTooltip="{{ 'noticeMeApp.note.toolbar.alarm' | translate }}"
          container="body"
          [ngbPopover]="popAlarmDate"
          placement="top auto"
          [autoClose]="'outside'"
          #popoverAlarm="ngbPopover"
          [popoverTitle]="popAlarmDateTitle"
          popoverClass="click-outside-exclude"
        >
          <fa-icon [icon]="['far', 'bell']"></fa-icon>
        </button>
        <button
          type="button"
          class="btn btn-light"
          [ngbPopover]="popCollaborator"
          [autoClose]="'outside'"
          #popoverAlarm="ngbPopover"
          [popoverTitle]="popCollaboratorTitle"
          popoverClass="click-outside-exclude"
          ngbTooltip="{{ 'noticeMeApp.note.toolbar.collaborator' | translate }}"
          placement="top auto"
          container="body"
        >
          <fa-icon icon="user-plus"></fa-icon>
        </button>
        <label
          type="button"
          for="upload_attach"
          class="btn btn-light mb-0"
          ngbTooltip="{{ 'noticeMeApp.note.toolbar.attachment' | translate }}"
          placement="top"
          container="body"
        >
          <fa-icon icon="link"></fa-icon>
        </label>
        <input
          type="file"
          name="attachment"
          data-cy="data"
          id="upload_attach"
          (change)="setFileData($event, 'data', true)"
          [disabled]="isSaving"
        />

        <button
          *ngIf="this.note.status !== allNoteStatus.ARCHIVED"
          type="button"
          class="btn btn-light"
          ngbTooltip="{{ 'noticeMeApp.note.toolbar.archive' | translate }}"
          placement="top"
          container="body"
          (click)="archiveNote()"
        >
          <fa-icon [icon]="['far', 'folder']"></fa-icon>
        </button>
        <button
          *ngIf="this.note.status === allNoteStatus.ARCHIVED"
          type="button"
          class="btn btn-light"
          ngbTooltip="{{ 'noticeMeApp.note.toolbar.unarchive' | translate }}"
          placement="top"
          container="body"
          (click)="unArchiveNote()"
        >
          <fa-icon [icon]="['far', 'folder-open']"></fa-icon>
        </button>
        <button
          type="button"
          class="btn btn-light"
          ngbTooltip="{{ 'noticeMeApp.note.toolbar.delete' | translate }}"
          placement="top"
          container="body"
          (click)="deleteNote()"
        >
          <fa-icon [icon]="['far', 'trash-alt']"></fa-icon>
        </button>
      </div>
      <div *ngIf="this.note.status === allNoteStatus.DELETED" class="btn-group" role="group" aria-label="action group">
        <button
          type="button"
          class="btn btn-light"
          ngbTooltip="{{ 'noticeMeApp.note.toolbar.restore' | translate }}"
          placement="top"
          container="body"
          (click)="unDeleteNote()"
        >
          <fa-icon icon="trash-restore-alt"></fa-icon>
        </button>
        <button
          type="button"
          class="btn btn-light"
          data-cy="entityDeleteButton"
          ngbTooltip="{{ 'noticeMeApp.note.toolbar.permanentdelete' | translate }}"
          placement="top"
          container="body"
          (click)="permanentDeleteNote()"
        >
          <fa-icon icon="trash"></fa-icon>
        </button>
      </div>
    </div>

    <div class="btn-group" role="group" aria-label="save group">
      <button type="submit" id="save-entity" data-cy="entitySaveButton" [disabled]="!canSubmit()" class="btn btn-primary">
        <span jhiTranslate="entity.action.close">Close</span>
      </button>
    </div>
  </div>
  <ng-template #popAlarmDate>
    <div>
      <input
        id="field_alarmDate"
        data-cy="alarmDate"
        type="datetime-local"
        class="form-control"
        name="alarmDate"
        formControlName="alarmDate"
        placeholder="YYYY-MM-DD HH:mm"
        min="{{ minDate }}"
      />
      <div *ngIf="editForm.get('alarmDate')!.invalid && (editForm.get('alarmDate')!.dirty || editForm.get('alarmDate')!.touched)">
        <small
          class="form-text text-danger"
          [hidden]="!editForm.get('alarmDate')?.errors?.invalidDate"
          jhiTranslate="entity.validation.MinimumDate"
        >
          Alarm date is in the past
        </small>
        <small
          class="form-text text-danger"
          [hidden]="!editForm.get('alarmDate')?.errors?.ZonedDateTimelocal"
          jhiTranslate="entity.validation.ZonedDateTimelocal"
        >
          This field should be a date and time.
        </small>
      </div>
    </div>
  </ng-template>
  <ng-template #popAlarmDateTitle>
    <div class="d-flex w-100 align-items-center justify-content-between">
      <label class="h6 mb-0" jhiTranslate="noticeMeApp.note.toolbar.alarmdate" for="field_alarmDate">Alarm Date</label>
      <button type="button" class="btn btn-light btn-sm" (click)="resetDate()">
        <fa-icon icon="times"></fa-icon>
      </button>
    </div>
  </ng-template>

  <ng-template #popCollaborator>
    <div>
      <select
        class="form-control"
        id="field_collaborators"
        data-cy="collaborator"
        multiple
        name="collaborators"
        formControlName="collaborators"
      >
        <option
          [ngValue]="getSelectedUser(userOption, editForm.get('collaborators')!.value)"
          *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
        >
          {{ userOption.login }}
        </option>
      </select>
    </div>
  </ng-template>
  <ng-template #popCollaboratorTitle>
    <div class="d-flex w-100 text-center">
      <label class="h6 mb-0" jhiTranslate="noticeMeApp.note.collaborator" for="field_collaborators">Collaborator</label>
    </div>
  </ng-template>
</form>
