<div>
    <h2 id="page-heading">
        <span jhiTranslate="noticeMeApp.note.home.title">Notes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-note" [routerLink]="['/note/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="noticeMeApp.note.home.createLabel">
            Create a new Note
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="notes?.length === 0">
        <span jhiTranslate="noticeMeApp.note.home.notFound">No notes found</span>
    </div>
    
    <div class="card-columns" id="entities" *ngIf="notes && notes.length > 0" infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <div *ngFor="let note of notes ;trackBy: trackId" class="card">
            <img class="card-img-top" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ note.title }}</h5>
                <p class="card-text">{{ note.content }}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <a href="#" class="card-link">Card link</a> <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
    
    <div class="table-responsive" id="entities" *ngIf="notes && notes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="title"><span jhiTranslate="noticeMeApp.note.title">Title</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="content"><span jhiTranslate="noticeMeApp.note.content">Content</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="date"><span jhiTranslate="noticeMeApp.note.date">Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="alarm"><span jhiTranslate="noticeMeApp.note.alarm">Alarm</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="noticeMeApp.note.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ownerId"><span jhiTranslate="noticeMeApp.note.owner">Owner</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let note of notes ;trackBy: trackId">
                    <td><a [routerLink]="['/note', note.id, 'view']">{{ note.id }}</a></td>
                    <td>{{ note.title }}</td>
                    <td>{{ note.content }}</td>
                    <td>{{ note.date | date:'medium' }}</td>
                    <td>{{ note.alarm | date:'medium' }}</td>
                    <td jhiTranslate="{{ 'noticeMeApp.NoteStatus.' + note.status }}">{{ note.status }}</td>
                    <td>
                        {{ note.ownerId }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/note', note.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/note', note.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(note)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
