<div
  [ngClass]="theme"
  class="ng2-tag-input"
  (click)="focus(true)"
  [attr.tabindex]="-1"
  [class.ng2-tag-input--disabled]="disable"
  [class.ng2-tag-input--invalid]="hasErrors()"
  [class.ng2-tag-input--focused]="isInputFocused()"
>
  <!-- TAGS -->
  <div class="ng2-tags-container">
    <jhi-tag-chip
      *ngFor="let item of items; let i = index; trackBy: trackByIndex "
      (onSelect)="selectItem(item)"
      (onRemove)="onRemoveRequested(item, i)"
      (onKeyDown)="handleKeydown($event)"
      (onBlur)="onTagBlurred($event, i)"
      [attr.tabindex]="0"
      [disabled]="disable"
      [@animation]="animationMetadata"
      [index]="i"
      [model]="item"
    >
    </jhi-tag-chip>

    <jhi-tag-chips-form
      #TagChipsFormComponent
      (onSubmit)="onFormSubmit()"
      (onBlur)="blur()"
      (onKeydown)="fireEvents('keydown', $event)"
      (onKeyup)="fireEvents('keyup', $event)"
      [disabled]="disable"
      [placeholder]="(items.length ? placeholder : secondaryPlaceholder) | translate"
      [inputClass]="inputClass"
      [inputId]="inputId"
    >
    </jhi-tag-chips-form>
  </div>
</div>

<!-- ERRORS -->
<div *ngIf="hasErrors()" [ngClass]="theme" class="error-messages">
  <p *ngFor="let error of errors" class="error-message" jhitranslate="error">
    <span [jhiTranslate]="error.msg" [translateValues]="error.translateValues"></span>
  </p>
</div>
<ng-content></ng-content>
